/* adminDashboard.css */
body {
    font-family: Arial, sans-serif;
    background-color: #004643;
    color: #fffffe;
    padding: 10px;
    margin: 0;
}

#pendingApprovals {
    margin-left: 10px;
    margin-right: 10px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #fffffe;
}

#pendingApprovals h2 {
    color: #e8e4e6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #abd1c6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 20px #001e1d80;
}

p {
    color: #001e1d;
}


button {
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #f9bc60;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #001e1d;
    box-shadow: 0 1px 5px #001e1d;
    transition: all 0.3s ease;
}


button:hover {
    background-color:#e16162;
    color: #fffffe;
    text-shadow: 0px 2px 5px #001e1d80;
    opacity: 0.8;
}

#closeButton {
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 300px;
    margin-top: 10px;
    background-color: #f9bc60;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #001e1d;
    box-shadow: 0 1px 5px #001e1d;
    transition: all 0.3s ease;
}

/* Modal Styles */
#editModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #001e1d66; /* Black w/ opacity */
    padding-top: 60px;
}

#editModal h2 {
    color: #e16162;
}

#editModal label {
    margin-left: 15px;
    color: #004643;
}

#editModal textarea, input, select {
    color: #004643;
    font-family: 'Verdana';
}

#editModal > div {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

input[type="text"], select, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

#editForm button[type="submit"], #editForm button[type="button"] {
    background-color: #f9bc60;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 15px;
    margin-top: 10px;
    transition: all 0.3s ease;
    float: left;
}


#editForm button[type="button"] {
    background-color: #ccc;
    color: #001e1d;
}


#editForm button:hover {
    background-color:#e16162;
    color: #fffffe;
    text-shadow: 0px 2px 5px #001e1d80;
    opacity: 0.8;
}