body {
    background-color: #004643;
    font-family: Arial;
    color:#001e1d
}

h1 {
    background-color: #abd1c6;
    border: 2px solid #001e1d;
    padding: 10px 20px;
    font-size: 28px;
}

h2 {
    padding: 0px 20px;
    font-size: 22px;
}

h3 {
    margin: 0px;
    padding: 10px 0px;
    font-size: 20px;
}

form {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 20px;
}

button {
    background-color: #f9bc60;
    border: 1.5px #001e1d solid;
    align-content: center;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}
    
button:hover {
    background-color: #e16162;
}


/* ========================== NAV BAR STYLE ========================== */
#navbar {
    background-color: #abd1c6;
    border: 2px solid #001e1d;
    color: #001e1d;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

#search-box {
    display: flex;
    align-items: center;
}

#search-input {
    background-color: #fffffe;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}


#search-btn, #close-btn {
    background-color: #f9bc60;
    border: none;
    padding: 10px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

#search-btn:hover, #close-btn:hover {
    background-color: #e16162;
}

/* Hide the close button initially */
#close-btn {
    display: none;
}
/* ==================== END OF NAV BAR STYLE ==================== */



/* ========================= SECTIONS ========================= */
.listing {
    border: 2px solid #001e1d;
    margin: 10px 10px;
    padding: 10px 20px;
}

#filter-section {
    background-color: #abd1c6;
    border: 2px solid #001e1d;
    width: 20%;
    height: 100%;
    float: left;
}


#results-section{
    margin-left: 21%;
    background: #abd1c6;
    border: 2px solid #001e1d;
}
/* ===================== END OF SECTIONS ===================== */



/* ===================== DETAIL ELEMENTS ===================== */

.details { 
    display: none;
}

/* ================= END OF DETAIL ELEMENTS ================= */
