body {
    font-family: 'Verdana';
    background-color: #004643;
    color: #001e1d; /* Added from new CSS for body color */
}

/* ============================= INDEX PAGE CSS ============================= */

/* Unique background color for each section */
#find-your-study-spot {
    position: relative;
    height: 600px;
}

#find-your-study-spot::before {
    height: 90%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/studySpot2.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

#find-your-study-spot .inner-div{
    background-color: #004643; 
    border-radius: 7px; 
    height: 100%;
    padding: 200px;
}

#find-your-study-spot .content {
    position: relative;
    background-color: #abd1c626;
    backdrop-filter: blur(8px);
    border-radius: 7px;
    color: #abd1c6;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    padding-top: 0;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 50px;
    margin-right: 50px;

    box-shadow: 0 0 50px #001e1d;
}

#find-your-study-spot .content h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

#find-your-study-spot .content p {
    font-size: 15pt;
    margin-bottom: 30px;
}

#search-function {
    background-color: #fffffe;
    height: 500px; 
}

#search-function .inner-div{
    background-color: #123332; 
    border-radius: 7px; 
    height: 100%;
}

#search-function .content {
    position: relative;
    color: #abd1c6;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
    text-align: center; 
}

/* This is to get the zip-code field and the button to be side by side. */
#search-form .form-row {
    display: flex; 
    justify-content: space-between; 
}

#zip-code {
    height: 40px;
    border-radius: 7px; 
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    margin-right: 10px;
}

/* Existing button and input styles */
.section {
    margin: 20px;
    padding: 20px;
}

.button {
    padding: 12px 24px; 
    font-family: 'Verdana';
    font-size: 18px; 
    color: #001e1d; 
    background-color: #f9bc60; 
    border: none;
    border-radius: 7px; 
    box-shadow: 0 10px 20px #001e1d80;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold; 
}

.button:hover {
    transform: scale(1.05); 
}

.label-text{
    color: #fffffe;
    font-weight: bold;
}

h1{
    font-family: 'Georgia';
    color: #fffffe;
}

h2 {
    font-family: 'Georgia';
    color: #001e1d;
}

#filter-section h2 {
    font-family: 'Georgia';
    color: #001e1d;
    margin-top: 28px;
}

#results-section h2 {
    font-family: 'Georgia';
    font-size: 21pt;
    color: #001e1d;
    margin-bottom: 10px;
}

.listing h3{
    color: #001e1d;
    font-size: 14pt;
}

a:visited {
    color: #abd1c6; /* Darker blue color for visited links */
}

a:link{
    color: #abd1c6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer a {
    color: #fffffe; /* Ensure footer link colors are consistent */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.search-section input[type="text"], .search-section input[type="checkbox"] {
    margin: 10px 0;
}

.content-container{
    display: flex;
    justify-content: space-between;
}

/* ============================= NAVIGATION CSS ============================= */

#navbar {
    background-color: #abd1c6;
    color: #001e1d;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 50px;
    font-size: 20pt;
    box-shadow: 0 10px 20px #001e1d80;
    margin: -10px -10px 20px;
}

#navbar a {
    color: #001e1d;
    text-decoration: none;
}

#logo {
    font-family: 'Verdana';
    font-size: 24px;
    font-weight: bold;
}

#search-box {
    display: flex;
    align-items: center;
}

#search-input {
    font-family: 'Verdana';
    background-color: #e8e4e6;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

#search-btn, #close-btn {
    background-color: #f9bc60;
    border: none;
    padding: 10px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 10px #001e1d80;
}

#search-btn:hover, #close-btn:hover {
    background-color: #e16162;
}

/* Hide the close button initially */
#close-btn {
    display: none;
}

/* ============================= LISTINGS PAGE CSS ============================= */

#filter-section {
    width: 200px; /* Ensuring unit is specified */
    margin-right: 20px; /* Keeps the section away from elements on its right */
    background-color: #abd1c6; /* Background color */
    padding: 0px 20px 20px 20px; /* Top, Right, Bottom, Left padding */
    border-radius: 7px; /* Rounded corners */
    margin: 10px 0; /* Margin above and below the section */
    box-shadow: 0 10px 20px #001e1d80; /* add box shadow */
}

#results-section{
    flex: 1;
    flex-grow: 1;
    background-color: #abd1c6; /* Background color */
    padding: 0px 20px 20px 20px; /* Top, Right, Bottom, Left padding */
    border-radius: 7px; /* Rounded corners */
    margin: 10px 0; /* Margin above and below the section */
    margin-left: 15px;
    box-shadow: 0 10px 20px #001e1d80; /* add box shadow */
}

#message{
    width: 100%;
    height: 150px;
    resize: vertical;
}

.listing {
    padding: 15px 0px 5px 0px; /* Top, Right, Bottom, Left padding */
}

.details {
    border: 2px solid #001e1d; /* Example: solid black border */
    background-color: #00464380; /* 50% opacity */
    color: #fffffe; /* color white text */
    box-shadow: 0 5px 20px #001e1d80;
    padding: 10px 0px 30px 10px; /* Top, Right, Bottom, Left padding */
    margin-bottom: 5px; /* Adds some space above each details section */
    border-radius: 5px; /* Optional: Adds rounded corners for a smoother look */
}

#combined-filters-form input {
    margin-bottom: 5px;
}

#combined-filters-form button {
    padding: 8px 10px; 
    font-family: 'Verdana';
    font-size: 13px; 
    color: #001e1d; 
    background-color: #f9bc60; 
    border: none;
    border-radius: 7px; 
    box-shadow: 1px 1px 5px #001e1d80;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold; 
}

#combined-filters-form button:hover {
    background-color:#e16162;
    opacity: 0.8;
}

/* ============================= LOGIN PAGE CSS ============================= */

.loginButton {
    padding: 8px 20px; 
    margin-top: 12px;
    font-family: 'Verdana';
    font-size: 14px; 
    color: #001e1d; 
    background-color: #f9bc60; 
    border: none;
    border-radius: 7px; 
    box-shadow: 1px 2px 10px #001e1d80;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold; 
}

.loginButton:hover {
    background-color:#e16162;
}

#login-h1 {
    color: #001e1d;
}

#login-p {
    margin-bottom: 13px;
    font-family: 'Verdana';
}

label.label-text {
    color: #004643;
}

/* ============================= REGISTER PAGE CSS ============================= */

#registration-section {
    padding: 30px 50px;
    border-radius: 7px;
    background-color: #abd1c6;
}

.registerButton {
    padding: 8px 20px; 
    margin-top: 12px;
    font-family: 'Verdana';
    font-size: 14px; 
    color: #001e1d; 
    background-color: #f9bc60; 
    border: none;
    border-radius: 7px; 
    box-shadow: 1px 2px 10px #001e1d80;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: bold; 
}

.registerButton:hover {
    background-color:#e16162;
}

/* ============================= ABOUT US PAGE CSS ============================= */

.content-container-about-us{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 20px;
}

.team {
    display: flex;
    flex-direction: column;
    background-color: #abd1c6;
    border-radius: 7px;
    margin: 20px;
    padding: 30px 50px;
}

.about-us-intro {
    padding-left: 70px;
}

.about-us-p {
    color: #abd1c6;
}